SENDGRID_API_KEY=<SENDGRID_API_KEY>
DB_HOST=db
DB_NAME=app
DB_USER=postgres
DB_PASS=<supersecretpassword>
IMAGE_PATH=uploads/images/
DEBUG=1
S3_STORAGE_BACKEND=0
FRONT_END_URL=http://localhost:3000
PAYSTACK_URL=https://api.paystack.co/
PAYSTACK_SK=sk_test_7bfaf6fc803f17d37c576b297032fa4b61d1900d
